

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heroes {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    background-color: white; 
    width: 90%; 
    margin: 0px auto;

}
.header {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 15px; 
    margin-bottom: 10px;
}
.title {
    display: flex;
}

.container{
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 150px;
    padding: 2px;
    border: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    margin: auto 5px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover{
    border: 2px solid gold;
    
}
.card:hover .gold{
    color: gold;
}
.bullar{
    opacity: 0.75;
    filter:grayscale(100%);

}


.bullar:hover .gold{
    color: gold;
}
.align-center{
    width: 100%;
    text-align: center;
    background-color: lightgray;
    font-size: 1.1rem;
    font-weight: bold;
}
span{
    font-weight: 800;
    font-size: 0.7rem;
}
.circle{
    height: 20px;
    width: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemc{
    display: flex;
    flex-direction: column;
}
.top{
    background-color: white;
    height: 25px;
}

.bg-change{
    background-color: lightgray;
    padding: 0px 5px;
}


.Go-to-arena{
    display: none;
}
.filters{
    width: 100%;
}
.filters form{
    margin: 10px 0px; 
    padding: 0px 10px;   
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  
}
.good-bad-sort ,.name-race{
    display: flex;}
@media(max-width:400px){
    .container{
       
        justify-content: center;
    }
    
    .navbar h1{
        font-size: 1.5rem;
    }
    .filters form{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
}
@media(max-width:992px){
  
    .good-bad-sort ,.name-race{
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
}